{% extends 'base.html' %}
{% block title %}Orders{% endblock title %}
{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md">
            <div class="card card-body">
                <h5 class="text-center pt-2">Orders</h5>
            </div>
            <div class="card card-body">
                <table class="table">
                    <tr>
                        <th>Status</th>
                        <th>Customer</th>
                        <th>Product</th>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock content %}