{% extends 'base.html' %}
{% block title %}Orders{% endblock title %}
{% block content %}
{% include 'orders/order_filter.html' %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md">
            <div class="card card-body shadow">
                <h5 class="text-center pt-2">Orders</h5>
            </div>
            <div class="card card-body shadow">
                <table class="table table-hover text-center align-middle">
                    <thead>
                        <tr>
                            <th>Order ID</th>
                            <th>Customer</th>
                            <th>Status</th>
                            <th>Created</th>
                            <th>Product</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for order in orders %}
                        <tr>
                            <th><a class="my-main-text" href="{{ order.get_absolute_url }}">{{ order.id }}</a></th>
                            <th><a href="{{ order.get_absolute_url }}">{{ order.customer.full_name }}</a></th>
                            {% if order.status == 'PENDING'%}
                            <th><span class="mystatus-pending"><strong>{{ order.status }}</strong></span></th>
                            {% elif order.status == 'READY' %}
                            <th><span class="mystatus-ready"><strong>{{ order.status }}</strong></span></th>
                            {% elif order.status == 'DELIVERED' %}
                            <th><span class="mystatus-delivered"><strong>{{ order.status }}</strong></span></th>
                            {% endif %}
                            <th><span class="my-main-text"><strong>{{ order.date_created }}</strong></span></th>
                            <th><a href="{{ order.product.get_absolute_url }}">{{ order.product.name }}</a></th>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}