* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: 'Titillium Web', sans-serif;
    background-color: #ebeff5;
}

#total-orders {
    background-color: #2d8ac8;
}

#orders-delivered {
    background-color: #4ec0b1;
}

#orders-pending {
    background-color: #e05f5f;
}

a {
    text-decoration: none;
}

.mystatus-pending {
    color: #ad0808;
    font-weight: bold;
    font-size: 0.9rem;
}

.mystatus-ready {
    color: #0e41eb;;
    font-weight: bold;
    font-size: 0.9rem;
}

.mystatus-delivered {
    color: #08c3f1;
    font-weight: bold;
    font-size: 0.9rem;
}

.mystatus-id {
    color: rgb(207, 48, 48);
    font-weight: bold;
    font-size: 0.9rem;
}