* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: 'Titillium Web', sans-serif;
    font-size: 0.9rem;
    background-color: #ebeff5;
}

#total-orders {
    background-color: #0d6efd;
}

#orders-delivered {
    background-color: #0dcaf0;
}

#orders-pending {
    background-color: #dc3545;;
}



.mystatus-pending {
    color: #dc3545;
    font-weight: bold;
    font-size: 0.9rem;
}

.mystatus-ready {
    color: #0d6efd;
    font-weight: bold;
    font-size: 0.9rem;
}

.mystatus-delivered {
    color: #0dcaf0;
    font-weight: bold;
    font-size: 0.9rem;
}

.mystatus-id {
    text-decoration: none;  
    display: block;
    color: rgb(207, 48, 48);
    font-weight: bold;
    font-size: 0.9rem;
    border: 2px solid rgb(214, 14, 41);
    border-radius: 0.2rem;
    }

.my-main-text {
    color: grey;
    text-decoration: none;
}

th a {
    color: grey;
    text-decoration: none;
    font-size: 0.9rem;
}