{% extends 'base.html' %}
{% block title %}Dashboard{% endblock title %}
{% block content %}


{% include 'status.html' %}
<div class="row mt-5">
    <div class="col-md-5">
        <h5>Customers:</h5>
        <hr>
        <div class="card card-body shadow">
            <a class="btn btn-info btn-sm btn-block" href="{% url 'customers:customer-create' %}">Create Customer</a>
            <table class="table table-hover text-center align-middle">
                <tr>
                    <th>Customer</th>
                    <th>Phone</th>
                </tr>
                {% for customer in customers %}
                <tr>
                    <th><a class="my-main-text" href="{{ customer.get_absolute_url }}">{{ customer.full_name }}</a></th>
                    <th class="my-main-text">{{ customer.phone }}</th>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
    <div class="col-md-7">
        <h5>Last 5 Orders:</h5>
        <hr>
        <div class="card card-body text-center shadow">
            <a class="btn btn-info btn-sm btn-block" href="{% url 'orders:order-create' %}">Create Order</a>
            <table class="table table-hover text-center align-middle">
                <thead>
                    <tr>
                        <th scope="col">Product</th>
                        <th scope="col">Date Ordered</th>
                        <th scope="col">Status</th>
                        <th scope="col">Update</th>
                        <th scope="col">Remove</th>
                    </tr>
                </thead>
                {% for order in orders %}
                <tbody>
                    <tr>
                        <th><a class="my-main-text" href="{{ order.get_absolute_url }}">{{ order.product.name }}</a>
                        </th>
                        <th class="my-main-text">{{ order.date_created }}</th>
                        {% if order.status == 'PENDING'%}
                        <th><span class="mystatus-pending"><strong>{{ order.status }}</strong></span></th>
                        {% elif order.status == 'READY' %}
                        <th><span class="mystatus-ready"><strong>{{ order.status }}</strong></span></th>
                        {% elif order.status == 'DELIVERED' %}
                        <th><span class="mystatus-delivered"><strong>{{ order.status }}</strong></span></th>
                        {% endif %}
                        <th><a class="btn btn-sm btn-info w-100" href="#">Update</a></th>
                        <th><a class="btn btn-sm btn-danger w-100" href="#">Remove</a></th>
                    </tr>
                </tbody>
                {% endfor %}
            </table>
        </div>
    </div>
</div>

{% endblock content %}