{% extends 'base.html' %}
{% block title %}Customer Delete{% endblock title %}
{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md">
            <div class="card card-body shadow">
                <h5 class="text-center pt-2">Are you sure you want to delete: {{ customer }}?</h5>
            </div>
            <div class="card card-body shadow">
                <form action="" method="POST">
                    {% csrf_token %}
                    <a class="btn btn-info" href="{% url 'customers:customer-list' %}">Cancel</a>
                    <button class="btn btn-danger" type="submit" name="Submit">Delete</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}