{% extends 'base.html' %}
{% block title %}{{ customer.full_name }}{% endblock title %}
{% block content %}

<div class="row mt-5">
    <div class="col-md">
        <div class="card card-body shadow">
            <h5>Customer:</h5>
            <p><strong>{{ customer.full_name }}</strong></p>
            <hr>
            <a class="btn btn-info  btn-sm btn-block mt-2"
                href="{% url 'customers:customer-update' customer.pk %}">Update Customer</a>
            <a class="btn btn-danger  btn-sm btn-block mt-2"
                href="{% url 'customers:customer-delete' customer.pk %}">Delete Customer</a>
        </div>
    </div>
    <div class="col-md">
        <div class="card card-body shadow">
            <h5>Contact Information</h5>
            <hr>
            <p>Email: {{ customer.email }}</p>
            <p>Phone: {{ customer.phone }}</p>
            <p>Address: {{ customer.address }}</p>
        </div>
    </div>
    <div class="col-md">
        <div class="card card-body shadow">
            <h5>Total Orders</h5>
            <hr>
            <h1 style="text-align: center;padding: 10px">{{ total_orders }}</h1>
        </div>
    </div>
</div>
<br>
<div class="row">
    <div class="col">
        <div class="card card-body shadow">
            <form method="get">

                <button class="btn btn-primary" type="submit">Search</button>
            </form>
        </div>
    </div>
</div>
<br>
<div class="row">
    <div class="col-md">
        <div class="card card-body shadow">
            <h5>Orders :</h5>
            <table class="table table-hover align-middle text-center">
                <thead>
                    <tr>
                        <th>Order ID</th>
                        <th>Product</th>


                        <th>Status</th>
                        <th>Update</th>
                        <th>Remove</th>
                    </tr>
                </thead>
                <tbody>
                    {% for order in related_orders %}
                    <tr>
                        <th>{{ order.id }}</th>
                        <th class="my-main-text">{{ order.product.name }}</th>
                        {% if order.status == 'PENDING'%}
                        <th><span class="mystatus-pending"><strong>{{ order.status }}</strong></span></th>
                        {% elif order.status == 'READY' %}
                        <th><span class="mystatus-ready"><strong>{{ order.status }}</strong></span></th>
                        {% elif order.status == 'DELIVERED' %}
                        <th><span class="mystatus-delivered"><strong>{{ order.status }}</strong></span></th>
                        {% endif %}
                        <th><a class="btn btn-sm btn-info m-2 w-100"
                                href="{% url 'orders:order-update' order.pk %}">Update</a></th>
                        <th><a class="btn btn-sm btn-danger m-2 w-100"
                                href="{% url 'orders:order-delete' order.pk %}">Remove</a></th>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}